In [1]:
#1.write a code to reverse a string
a="Good Morning"
print(a[::-1])

gninroM dooG

In [2]:
#2 write a code to count the number of vowels in a string
a=input("enter something")
vowel="aeiuoAEIOU"
count=0
print(a)
for i in a:
    if i in vowel:
       count+=1

print(count)

enter somethingPriyanka
Priyanka
3

In [3]:
#3. write a code to check if a given string is a palindrome or not
a=input("enter a string")
if len(a)>2:
    if(a==a[::-1]):
        print("The string is palindrome")
    else:
        print("The string is not a palindrome")
else:
    print("string is not valid")

enter a stringmomo
The string is not a palindrome

In [4]:
#4.  write a code to check if two given strings are anagrams of each other
a=input("enter a name")
b=input("enter a name")
if(len(a)!=len(b)):
    print("not an anagram")
else:
    for i in a:
        if i not in b:
           print("Not an anagram")
           break
        else:
            print("It is an anagram")

enter a namesilent
enter a namelisten
It is an anagram
It is an anagram
It is an anagram
It is an anagram
It is an anagram
It is an anagram

In [5]:
#5.write a code to find all occurrences of a given substring within another string.
string=input("enter a string")
sub="hello"
start=0
pos=[]
while True:
    start=string.find(sub,start)
    if start==-1:
        break
    pos.append(start)
    start+=1
print(pos)

enter a stringgood morning , hello all of u
[15]

In [6]:
#6. write a code to perform basic string compression using the counts of repeated characters
in_string ="aabcddee"
compre_str =""
count = 1

for i in range(len(in_string) - 1):
    if in_string[i] == in_string[i + 1]:
        count += 1
    else:
        compre_str += in_string[i] + str(count)
        count = 1


compre_str += in_string[-1] + str(count)
print("Compressed string:", compre_str)

Compressed string: a2b1c1d2e2

In [54]:
#7. wite a code to determine if a string has all unique characters
a=input("enter a string")
if len(a)==len(set(a)):
    print("All unique characters")
else:
    print("Not all unique characters")

enter a stringWomen
All unique characters

In [8]:
#8. write a code to convert a given string to uppercase or lowercase
k=input("enter string")
print(k.upper())

enter stringPriya
PRIYA

In [9]:
#9. write a code to count the number of words in a string
p=input("write sentence")
print(p)
count_wor=p.split( )
print(len(count_wor))

write sentenceBe a good human being
Be a good human being
5

In [10]:
#10. write a code to concatenate 2 strings without using the + operator
a=input("enter 1st string")
b=input("enter 2nd string")
conca=' '.join([a,b])
print(conca)

enter 1st stringGood
enter 2nd stringMorning
Good Morning

In [11]:
#11 write a code to remove all occurrneces of a specific element from a list
a=[1,2,3,2,4,5]
remove=2
new=[i for i in a if i!=remove]
print(new)

[1, 3, 4, 5]

In [12]:
#12 implement code to find the second largest no. in a given list of integers.
a=[10,22,11,90,20,23,45]
a.sort()
print(a[-2])

45

In [50]:
#13. create a code to count the occurrences of each element in a list and return a dictionary with
#elements as keys and their counts as values
input_list=[1,2,3,3,3,4,5,2,2,2,5,6,7]
count={}
for i in input_list:
  if i in count:
    count[i]+=1
  else:
    count[i]=1
print(count)

{1: 1, 2: 4, 3: 3, 4: 1, 5: 2, 6: 1, 7: 1}

In [13]:
#14 write a code to reverse a list in-place without using any built in reverse functions
a=[1,2,3,4,5]
print(a[::-1])

[5, 4, 3, 2, 1]

In [14]:
#15 implement a code to find and remove duplicates from a list while preserving the original order of elements
lis=[1,2,3,3,2,1,4]
uni_l=[]
for element in lis:
    if element not in uni_l:
        uni_l.append(element)
print(uni_l)

[1, 2, 3, 4]

In [15]:
#16 Create a code to check if a given list in sorted (either in 'ascending or descending order) or not
p=[10,30,22,40,34,32,70,67]
p.sort()
print(p)

[10, 22, 30, 32, 34, 40, 67, 70]

In [16]:
#17 write a code to merge two sorted lists into a single sorted list
l1=[1,2,4,5]
l2=[6,3,8,9]
k=sorted(l1+l2)
print(k)

[1, 2, 3, 4, 5, 6, 8, 9]

In [17]:
#18 implement a code to find the intersection of 2 given lists.
l1=[1,22,33,4,5]
l2=[2,33,8,22,4]
inter=list(set(l1)&set(l2))
print(inter)

[33, 4, 22]

In [18]:
#19 create a code of find the union of 2 lists without duplicates
l1=[1,22,33,4,5]
l2=[2,33,8,22,4]
inter=list(set(l1) | set(l2))
print(inter)

[1, 33, 2, 4, 5, 8, 22]

In [44]:
#20 write a code to shuffle a given list randomly without using any built in shuffle functions
import random
l1=[1,22,33,4,5]
print("Original list= ",l1)
for i in range(len(l1)):
    j=random.randint(0,len(l1)-1)
    l1[i],l1[j]=l1[j],l1[i]
print("Shuffled list= ",l1)

Original list=  [1, 22, 33, 4, 5]
Shuffled list=  [5, 4, 1, 22, 33]

In [20]:
#21 write a code that takes 2 tuples as input and returns a new tuple containing the elements that are
#commoon to both input tuples.
t1=(1,2,3,4,5)
t2=(4,5,6,7)
common=[]
for a in t1:
    if a in t2:
        common.append(a)
print(common)

[4, 5]

In [19]:
#22 create a code that prompts the user to enter 2 sets of integers separated by commas. then ,
#print the intersection of these 2 sets
set1=input("enter set of integer, separated by commas")
set2=input("enter set of integer, separated by commas")
s1=set(map(int,set1.split(",")))
s2=set(map(int,set2.split(",")))
print(s1.intersection(s2))

enter set of integer, separated by commas1,2,3,4,5
enter set of integer, separated by commas4,5,6,7,8
{4, 5}

In [22]:
#23 write a code to concatenate 2 tuples. the function should take 2 tuples as input and return a new tuple
# containing elements from both input tuples.
def concattuple(t1,t2):
    return t1+t2
t1=(4,5,6)
t2=(1,2,3)
result=concattuple(t1,t2)
print(result)

(4, 5, 6, 1, 2, 3)

In [40]:
#24 develop a code that prompts the user to input 2 sets of strings. then , print the elements
#that are present in the first set but not in the second set
set1=set(input("enter 1st set element").split())
set2=set(input("enter 2nd set element").split())
result=set1.difference(set2)
print(result)

enter 1st set element1,2,3,4,5
enter 2nd set element4,5,6,7,8
{'1,2,3,4,5'}

In [41]:
#25 create a code that takes a tuple and 2 integers as input. the function should return
# a new tuple containing elements from the original tuple within the specified range of indices
t1=(10,20,30,40,50,60,70,80)
start_index=3
end_index=6
print(t1[start_index:end_index+1])

(40, 50, 60, 70)

In [23]:
#26. write a code that prompts the user to input 2 sets of characters. then , print the union of these 2 sets
set1=set(input("enter 1st set element").split())
set2=set(input("enter 2nd set element").split())
result=set1.union(set2)
print(result)

enter 1st set element1 2 3 4 5
enter 2nd set element3 5 6 7 8
{'2', '3', '5', '4', '8', '6', '1', '7'}

In [35]:
#27 develop a code that takes a tuple of integers as input. the function should return the maximum and
#minimum values  from the tuple using tuple unpacking.
input_tuple=(10,30,40,80,33,45,90,88)
max_value=max(input_tuple)
min_value=min(input_tuple)
print("Maximum value= ",max_value)
print("Minimum value= ",min_value)

Maximum value=  90
Minimum value=  10

In [33]:
#28 create a code that defines 2 sets of integers. then , print the union ,intersection and difference of
#these 2 sets
set1={1,2,3,4,5}
set2={4,5,6,7,8}
print("Intersection = ",set1 & set2)
print("Union= ",set1 | set2)
print("Difference= ",set1 - set2)
print("symmetric difference= ",set1 ^ set2)

Intersection =  {4, 5}
Union=  {1, 2, 3, 4, 5, 6, 7, 8}
Difference=  {1, 2, 3}
symmetric difference=  {1, 2, 3, 6, 7, 8}

In [28]:
#29. write a code that takes a tuple & an element as input. the function should return the count of occurrences
#of the given element in the tuple.
input_tuple=(1,2,2,3,4,5,6,6,2)
element=2
count=input_tuple.count(element)
print("occurrence of element is= ",count)

occurrence of element is=  3

In [24]:
#30 develop a code that prompts the user to input 2 sets of strings then ,print the symmetric difference of
#these 2 sets.
set1=set(input("enter strings for the set1").split())
set2=set(input("enter strings for the set2").split())
result=set1.symmetric_difference(set2)
print(result)

enter strings for the set11 2 3 4 5
enter strings for the set23 5 7 8 9
{'1', '2', '8', '4', '7', '9'}

In [26]:
#31.write a code that takes a list of words as input and returns a dictionary where the keys are unique words &
#the values are the frequencies of those words in the input list
input_dict=["red","blue","green","red","green","yellow","red"]
count={}
for i in input_dict:
  if i in count:
    count[i]+=1
  else:
    count[i]=1
print("word frequencies are= ",count)

word frequencies are=  {'red': 3, 'blue': 1, 'green': 2, 'yellow': 1}

In [27]:
#32 write a code that takes 2 dictionary as input and merges them into a single dictionary if there are common
#keys, the values should be added together
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 5, 'c': 15, 'd': 25}
merged_dict = dict1.copy()
for key,value in dict2.items():
    if key in merged_dict:
      merged_dict[key]+=value
    else:
      merged_dict[key]=value
print(merged_dict)

{'a': 10, 'b': 25, 'c': 45, 'd': 25}

In [49]:
#33 write a code to access a value in a nested dictionary. the function should take the dictionary and a list
# of keys as input, and return the corresponding value. if any of the keys do not exist in the dictionary, the
#function should return none.
def get_nested_value(d, keys):
    current = d
    for key in keys:
        if key in current:
            current = current[key]
        else:
            return None
    return current
nested_dict={'a': {'b': {'c': 10}}}
keys_list = ['a', 'b', 'c']
value = get_nested_value(nested_dict, keys_list)

print("Value:", value)

Value: 10

In [39]:
#34 write a code that takes a dictionary aa input  and returns a sorted version of it
#based on the values. u can chose whether  to sort in ascending or descending order
input_dict= {'a': 10, 'b': 20, 'c': 30}
asc_sorted_dict=dict(sorted(input_dict.items(),key=lambda x:x[1]))
dsc_sorted_dict=dict(sorted(input_dict.items(),key=lambda x:x[1],reverse=True))
print("Ascending order=",asc_sorted_dict)
print("Descending order=",dsc_sorted_dict)

Ascending order= {'a': 10, 'b': 20, 'c': 30}
Descending order= {'c': 30, 'b': 20, 'a': 10}

In [46]:
#35 write a code that inverts a dictionary, swapping keys and values. ensure that the inverted dictionary
#correctly handles cases where multiple keys have the same value by sorting the keys as a list in the inverted
# dictionary
ori_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3,'e':2}
inv_dict={}
for key,value in ori_dict.items():
  if value in inv_dict:
    inv_dict[value].append(key)
  else:
    inv_dict[value]=[key]
print("Inverted dictionary= ",inv_dict)

Inverted dictionary=  {1: ['a', 'c'], 2: ['b', 'e'], 3: ['d']}